/* ==============================================    

            Default Values

Font: Open Sans Railway(Headers), sans serif

Colors:
1    Red: rgba(226,0,25);
2.   White: #fff;  
3.   Grey(for links):#D4D9DB;

=================================================*/

/*================================================

                Basic Setup

=================================================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/tlo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}


a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}


/*================================================

                Header

=================================================*/


header {
    width: 100%;
    background-color: rgba(226, 0, 25, 0.75);
    box-shadow: 0px 2px 2px #000;
    border-bottom: 2px solid black;

}

.heading {
    display: flex;
    max-width: 1400px;
    margin: 0px auto;
    justify-content: space-between;
    height: 9vh;
}

.img-nav {
    width: 165px;
    height: 100%;
    transition: all .3s ease-in-out;
}

.img-nav img {
    width: 100%;
    height: 100%;

}

.img-nav:hover {
    background-color: rgba(226, 0, 25, 1);
}


.nav-menu a {
    padding: 29px 0;
    color: #fff;
    font-size: 22px;
    transition: all .3s ease-in-out;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-menu a:hover {
    background-color: rgba(226, 0, 25, 1);

}

.nav-menu li {
    padding: 29px 45px;
    transition: all .3s ease-in-out;
}


.nav-menu li:hover {
    transform: scale(1.1);
}

/*================================================

                Main Page

=================================================*/

.mainpage {
    width: 100%;
}

.shadow-box2 {
    display: flex;
    max-width: 1400px;
    background-color: rgba(226, 0, 25, 0.75);
    border: 2px solid black;
    margin: 114px auto;
    padding: 50px 50px;
    border-radius: 30px;
    flex-direction: column;
}

.serves {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 35px;
}

.serves h2 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 42px;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
}

.serves h3 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 27px;
    margin-top: 25px;
}

.serves h3 span {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 29px;
}

.serves p {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 21px;
    margin-top: 15px;
}

.serve-links {
    margin-top: 25px;
    text-align: center;
    padding-bottom: 15px;
}

.serve-links h2 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 25px;
    border-bottom: 2px solid black;
    padding-bottom: 25px;

}

.serve-links p {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 24px;
    margin-top: 15px;
    text-transform: uppercase;
}

.serve-links a {
    text-decoration: none;
}

.serve-links a span {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.serve-links a span:hover {
    color: #D4D9DB;
}



/*================================================

                Footer

=================================================*/

footer {
    background-color: rgba(226, 0, 25, 0.75);
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 20px;
    box-shadow: 0px -2px 2px #000;
    border-top: 2px solid #000;
}